.alert {
	border: 1px solid var(--fg-alpha-1);
	border-top: 2px solid var(--theme-color);
	display: flex;
	flex-direction: column;
	gap: 10px;
	line-height: 24px;
	max-width: 100%;
	padding: 20px 25px 15px 25px;
	width: 450px;
}

.alert h1 {
	font-weight: bold;
}

.alert p {
	margin: 0;
}

.btn-bar {
	margin: 5px 0;
	text-align: right;
}

.btn-bar button {
	font-size: 14px;
	padding: 10px 15px;
	width: 100px;
}

@media screen and (max-width: 550px) {
	.alert {
		border-radius: 0;
		width: 100%;
	}
}