@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	cursor: default;
	height: 100%;
	user-select: none;
}

html,
.root,
.root>div {
	height: 100%;
}

textarea:focus-visible {
	outline: 2px solid hsl(var(--nextui-focus) / var(--nextui-focus-opacity, 1));
	outline-offset: 2px;
}
