:root {
	--fg-alpha-1: rgba(0, 0, 0, .1);
	--fg-alpha-2: rgba(0, 0, 0, .2);
	--popup-bg: white;
	--theme-color: darkred;
}

* {
	box-sizing: border-box;
	outline: none;
}

body {
	cursor: default;
	font-family: Helvetica, "PingFang SC", "Microsoft YaHei", sans-serif;
	height: 100%;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	--webkit-user-select: none;
	user-select: none;
}

button {
	background-color: transparent;
	border: 1px solid var(--fg-alpha-2);
	border-radius: 5px;
	color: inherit;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 45px;
	transition: all .25s;
}

html,
#root {
	height: 100%;
}

header {
	align-items: center;
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

hr {
	border: 0;
	border-bottom: 1px solid var(--fg-alpha-2);
	margin: 4px 0;
}

h1 {
	font-family: sans-serif;
	font-weight: lighter;
	margin: 0;
	text-transform: uppercase;
}

input[type=file] {
	display: none;
}

label {
	white-space: nowrap;
}

option {
	color: gray;
}

select {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 1px solid var(--fg-alpha-2);
	border-radius: 5px;
	color: inherit;
	display: block;
	font: inherit;
	height: 100%;
	padding: 10px 15px;
	transition: all .25s;
	width: 100%;
}

svg[role=button] {
	cursor: pointer;
	padding: 5px;
	transition: opacity .25s;
}

svg[role=button]:hover,
.default-btn:hover {
	opacity: .75;
}

svg[role=button]:active,
.default-btn:active {
	opacity: .5;
}

textarea {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 1px solid var(--fg-alpha-2);
	border-radius: 10px;
	box-shadow: 0 0 3px var(--fg-alpha-2);
	display: block;
	font: inherit;
	height: 100%;
	margin: 0 auto;
	padding: 10px 15px;
	resize: none;
	transition: all .25s;
	width: 100%;
}

textarea:focus {
	box-shadow: 0 0 10px var(--fg-alpha-2);
}

.alert {
	border: 1px solid var(--fg-alpha-1);
	border-top: 2px solid var(--theme-color);
	display: flex;
	flex-direction: column;
	gap: 10px;
	line-height: 24px;
	max-width: 100%;
	padding: 20px 25px 15px 25px;
	width: 450px;
}

.alert h1 {
	font-weight: bold;
}

.alert p {
	margin: 0;
}

.App {
	display: flex;
	flex-direction: column;
	gap: 30px;
	height: 100%;
	padding: 30px 10% 45px;
}

.btn-bar {
	margin: 5px 0;
	text-align: right;
}

.btn-bar button {
	font-size: 14px;
	padding: 10px 15px;
	width: 100px;
}

.control-bar {
	display: flex;
	gap: 10px;
}

.default-btn {
	background-color: var(--theme-color);
	color: white;
}

.dropdown-group {
	align-items: center;
	display: flex;
	flex: 1;
	gap: 10px;
}

.image-viewer {
	border: 1px solid var(--fg-alpha-1);
	display: flex;
	flex-direction: column;
	max-height: 90%;
	max-width: 90%;
	width: fit-content;
}

.image-viewer header {
	margin: 10px 0;
	padding: 0 15px;
}

.image-viewer img {
	--radius: 4px;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	display: block;
	max-height: 100%;
	max-width: 100%;
	min-height: 0;
	object-fit: contain;
}

.mask {
	animation: fadeIn .25s;
	background-color: rgba(0, 0, 0, .1);
	display: flex;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.menu-item {
	align-items: center;
	border-radius: 5px;
	display: flex;
	gap: 10px;
	padding: 10px 15px;
	transition: background-color .25s;
}

.menu-item:hover,
.regular-btn:hover {
	background-color: var(--fg-alpha-1);
}

.menu-item:active,
.regular-btn:active {
	background-color: var(--fg-alpha-2);
}

.menu-popup {
	background-color: var(--popup-bg);
	border: 1px solid var(--fg-alpha-2);
	border-radius: 10px;
	padding: 5px;
	position: fixed;
	right: 10%;
	top: 75px;
}

.popup {
	animation: fadeIn .25s;
	background-color: var(--popup-bg);
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	margin: auto;
	transition: all .25s;
}

.popup h1 {
	font-size: 20px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 550px) {
	.alert {
		border-radius: 0;
		width: 100%;
	}

	.control-bar {
		flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg-alpha-1: rgba(255, 255, 255, .1);
		--fg-alpha-2: rgba(255, 255, 255, .2);
		--popup-bg: black;
		color-scheme: dark;
	}

	body {
		background-color: rgb(30, 30, 30);
		color: white;
	}
}
